@import url('https://fonts.googleapis.com/css?family=Lato');

#wholeBlock {
    font-size:24px;
    min-width:480px;
    max-width:1600px;
}
@media all and (min-width:480px) and (max-width:768px) {
    #column_1, #column_2, #column_3, #column_4 {
        float:none;
        width:auto;
        margin:15px;
    }

    /* kod zmian*/
}

@media all and (max-width:769px) {
    #wholeBlock {
        font-size: 5rem;
    }

    #column_1, #column_2, #column_3, #column_4 {
        float:none;
        width:auto;
        margin:15px;
    }

    /* kod zmian*/
    .hello{
        position: absolute;
        top: 0.5rem;
        right: 2rem;

    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Lato, sans-serif;
    font-weight: lighter;
    color: #ccc;
}
@font-face {
    font-family: 'Lato';

}

/*--------------------------*/

html {
    font-size: 10px;
}

body {
    min-width:480px;
    max-width:1600px;

}
header{
    background-color: #00283D;
    height: 100rem;                               /*<--------------*/
}

.aboutMe{
    height: 100rem;
;
}

.contact{
    background-color: #00283D;
    height: 50rem;
}


footer{
    background-color: black;
    height: 15rem;
}

/*--------------------------*/

#column_1{
    display: inline-block;
}

#column_2{
    display: inline-block;

}

#column_3, .my, .project{
    display: inline-block;
    font-size: 4rem;

}

#column_4{
    position: relative;
    top: 15rem;
}

/*--------------------------*/

h1{
    color: #ccc;
    display: inline;
}

p{
    font-size: 2rem;
}

/*--------------------------*/

.my{
    position: absolute;
    left: 37rem;
    top: 5rem;
    color: #f48342;

}
.project{
    position: absolute;
    left: 44rem;
    top: 5rem;
}

/*--------------------------*/

.hello{
    position: absolute;
    top: 5rem;
    right: 20rem;

}

.hi{
    position: relative;
    font-size: 5rem;


}
.name{
    position: relative;

    font-size: 5rem;
}

.exclamationMark1{
    display: inline-block;
    font-size: 10rem;
    color: #f48342;
}

.exclamationMark2{
    position: relative;
    display: inline-block;
    color: #f48342;
    font-size: 10rem;
}

/*--------------------------*/

.note{
    position: absolute;
    display: inline-block;
    bottom: 20%;
    right: 25%;
    font-size: 1.5rem;
}

.junior{


}

.brave{
    position: inherit;
    top: 3.5rem;
    left: 0rem;
    color: #f48342;
    font-size: 1.3rem;

}

.frontEnd{
    position: relative;
    top: 6.2rem;

}

.developer{
    position: inherit;
    top: 15rem;
}

.dot{
    position: inherit;
    top: 13.3rem;
    left: 14rem;
    font-size: 5rem;
    color: #f48342;
}

/*--------------------------*/

.code {

}
.dotHtml{
    position: absolute;
    display: inline-block;
    top: 30rem;
    right: 86%;
}

.dotJS{
    position: absolute;
    display: inline-block;
    top: 40rem;
    right: 86%;
}
.dot3{
    position: absolute;
    display: inline-block;
    top: 50rem;
    right: 86%;
}
.dot4{
    position: absolute;
    display: inline-block;
    top: 60rem;
    right: 86%;
}
.dot5{
    position: absolute;
    display: inline-block;
    top: 70rem;
    right: 86%;
}
.dot6{
    position: absolute;
    display: inline-block;
    top: 80rem;
    right: 86%;
}

.dotOK{
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: green;
    margin: 3px;
    color: green;
}

.dotNot{
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #cccccc;
    margin: 3px;
}

.paragraf_1{
    position: absolute;
    display: inline-block;
    top: 25rem;
    right: 86%;
}


.paragraf_2{
    position: absolute;
    display: inline-block;
    top: 35rem;
    right: 86%;
}

.paragraf_3{
    position: absolute;
    display: inline-block;
    top: 45rem;
    right: 86%;
}

.paragraf_4{
    position: absolute;
    display: inline-block;
    top: 55rem;
    right: 86%;
}

.paragraf_5{
    position: absolute;
    display: inline-block;
    top: 65rem;
    right: 86%;
}
.paragraf_6{
    position: absolute;
    display: inline-block;
    top: 75rem;
    right: 86%;
}

/*--------------------------*/

.wrapper {
    position: relative;
    top: 0%;
    max-width: 80rem;
    margin: 0;
}

.iphone {
    position: absolute;
    background: black;
    width: 36rem;
    height: 0;
    padding-top: 95%;
    margin: 0 auto;
    border-radius: 4.5rem;
    left: 30rem;
}

.power {
    position: absolute;
    background: black;
    width: 12%;
    height: .5%;
    top: -.2%;
    right: 12%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.lock {
    position: absolute;
    background: black;
    width: 1%;
    height: 5%;
    top: 12.5%;
    left: -.5%;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.volume {
    position: absolute;
    background: black;
    width: 1%;
    height: 4%;
    top: 23%;
    left: -.5%;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.volume.down{ top: 31%; }

.camera {
    position: absolute;
    top: 4%;
    left: 48.5%;
    background: #3f3f3f;
    width: 3%;
    height: 0;
    padding-top: 3%;
    border-radius: 50%;
}

.speaker {
    position: absolute;
    top: 7%;
    left: 40%;
    background: #3f3f3f;
    width: 20%;
    height: 0;
    padding-top: 2%;
    border-radius: 1rem;
}
.app{
    padding-top: 2%;
    width: 20%;
    height: 12.5%;
    margin: 2.2%;
    background-color: #3f3f0f;
    border-radius: 1rem;
    color: white;
}

#app1{
    position: relative;
    display: inline-block;
}

#app2{
    position: relative;
    display: inline-block;
}

#app3{
    position: relative;
    display: inline-block;
}

#app4{
    position: relative;
    display: inline-block;
}

#app5{
    position: relative;
    display: inline-block;
    top: 12.5%;
}

#app6{
    position: relative;
    display: inline-block;
    top: 12.5%;
}

#app7{
    position: relative;
    display: inline-block;
    top: 12.5%;
}

#app8{
    position: relative;
    display: inline-block;
    top: 12.5%;
}
#app9{
    position: relative;
    display: inline-block;
    top: 12.5%;
}

#app10{
    position: relative;
    display: inline-block;
    top: 12.5%;
}

#app11{
    position: relative;
    display: inline-block;
    top: 12.5%;
}





.screen {
    background: #fff;
    width: 90%;
    height: 75%;
    position: absolute;
    top: 12.5%;
    left: 5%;
}

.button {
    position: absolute;
    bottom: 2.75%;
    left: 42.5%;
    background: #3f3f3f;
    border: 2px solid #202020;
    width: 15%;
    height: 0;
    padding-top: 15%;
    border-radius: 50%;
}

.square {
    position: absolute;
    top: 27.5%;
    left: 27.5%;
    border: 2px solid #cccccc;
    border-radius: .3rem;
    width: 45%;
    height: 45%;
}


